<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--链接数据库字符串-->
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SuperMarket" connectionString="Data Source=.;Initial Catalog=dk;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Environment_1.Properties.Settings.envConnectionString"
   connectionString="Data Source=DESKTOP-M52VF5V;Initial Catalog=env;Persist Security Info=True;User ID=hlc"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<!--RFID读写器串口的串口号何波特率-->
		<add key="RFIDPortName" value="com12"/>
		<add key="RFIDPortBaudrate" value="115200"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
